/* border box */

html {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    box-sizing: border-box;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  b {
    font-weight: bold;
  }
  
  
  /* main app styles */
  
  body {
    width: 700px;
    margin: 0 auto;
    background-color: #eeeeee;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    margin: 2% auto;
    padding: 15px;
    background-color: #FFFFFF;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin: 1% 0 3%;
  }
  
  textarea {
    width: 100%;
    height: 250px;
    padding: 10px;
    border: 1px solid #d9d9d9;
    outline: none;
    font-size: 1rem;
    resize: none;
    line-height: 1.5rem;
  }
  
  textarea:hover {
    border-color: #C0C0C0;
  }
  
  textarea:focus {
    border-color: #4D90FE;
  }
  
  .output.row {
    width: 100%;
    font-size: 1.4rem;
    margin: 1% 0;
    background-color: #eeeeee;
  }
  
  .output.row div {
    display: inline-block;
    width: 42%;
    padding: 10px 15px;
    margin: 1%;
  }
  
  .output.row span {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  /* 
  ** Making it responsive
  */
  
  @media (max-width: 750px) {
    body {
      width: 600px;
    }
    .output.row {
      font-size: 1.2rem;
    }
    .output.row span {
      font-size: 1.3rem;
    }
    .keywords ul {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 600px) {
    /* rewriting old styles */
    body {
      width: 95%;
    }
    .output.row {
      border: none;
      background-color: #FFF;
    }
    .output.row div {
      display: block;
      width: 100%;
      padding: 10px 15px;
      margin: 2% auto;
      font-size: 1.8rem;
      background-color: #eeeeee;
    }
    .output.row span {
      font-size: 2rem;
    }
  }